version: 2.1

orbs:
  android: circleci/android@0.2.1

jobs:
  build:
    executor: android/android

    steps:
      - checkout
      - run: ./gradlew androidDependencies
      - run:
          command: ./gradlew build
          
checkout:
  post: 
    - cp local.properties.ci local.properties

