@charset "utf-8";
/* Simple fluid media
   Note: Fluid media requires that you remove the media's height and width attributes from the HTML
   http://www.alistapart.com/articles/fluid-images/ 
*/
img, object, embed, video {
	max-width: 100%;
}
/* IE 6 does not support max-width so default to width 100% */
.ie6 img {
	width:100%;
}

/*
	Dreamweaver Fluid Grid Properties
	----------------------------------
	dw-num-cols-mobile:		5;
	dw-num-cols-tablet:		8;
	dw-num-cols-desktop:	10;
	dw-gutter-percentage:	25;
	
	Inspiration from "Responsive Web Design" by Ethan Marcotte 
	http://www.alistapart.com/articles/responsive-web-design
	
	and Golden Grid System by Joni Korpi
	http://goldengridsystem.com/
*/

a { color: #618fb3; }
a:visited { color: #618fb3; }
a:hover { color: #366487; }

table {
	margin: 0 auto 0 auto;
	border:0;
	border-collapse: separate;
	border-spacing:3px;
	
}

table tr {
	border:0;
}
table tr td {
	border:1px solid #d4d4d4;
	padding:10px;
	
}


.video-container {
	position: relative;
	padding-bottom: 56.25%;
	padding-top: 30px;
	height:0;
	overflow: hidden;
}

.video-container iframe,  
.video-container object,  
.video-container embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.video-local {
	position:relative;
	padding-bottom: 56.25%;
	padding-top: 30px;
	height:0;
	overflow:hidden;
}
.video-local video, .video-local video object {
	position: absolute;
	top:0;
	left:0;
	width: 100%;
	height: 100%;
	
}


.textocentrado {
	text-align: center;
}


/* Mobile Layout: 480px and below. */

body{
	background:url(../img/fondo_nubes490.jpg);
	background-attachment:fixed;
	background-position:center;
}

h2 {
	color:#0a4a80;
	font-size: 1.7em;
}

.gridContainer {
	margin-left: 0;
	margin-right: 0;
	width: 95%;
	padding-left: 1%;
	padding-right: 1%;
}
.iconomod1 {
	clear:both;
	float:left;
	width:166px;
	height:74px;
	background:url(../img/icono_modulo1_b.png) no-repeat;
}
.iconomod2 {
	clear:both;
	float:left;
	width:302px;
	height:74px;
	background:url(../img/icono_modulo2_b.png) no-repeat;
}
.iconomod3 {
	clear:both;
	float:left;
	width:302px;
	height:74px;
	background:url(../img/icono_modulo3_b.png) no-repeat;
}
.iconomod4 {
	clear:both;
	float:left;
	width:302px;
	height:74px;
	background:url(../img/icono_modulo4_b.png) no-repeat;
}
.iconocre {
	clear:both;
	float:left;
	width:302px;
	height:74px;
	background:url(../img/icono_creditos_b.png) no-repeat;
}
.iconoayu {
	clear:both;
	float:left;
	width:302px;
	height:74px;
	background:url(../img/icono_ayuda_b.png) no-repeat;
}
.iconosal {
	clear:both;
	float:left;
	width:302px;
	height:74px;
	background:url(../img/icono_salir_b.png) no-repeat;
}
.iconoglo {
	clear:both;
	float:left;
	width:302px;
	height:74px;
	background:url(../img/icono_glosario_b.png) no-repeat;
}
.iconogui  {
	clear:both;
	float:left;
	width:302px;
	height:74px;
	background:url(../img/icono_guias_b.png) no-repeat;
}

img.imagen {
	padding: 5px;
	display:block;
	margin: 10px auto 10px auto;
	background:#FFF;
	/* esquinas redondeadas */
	border-radius:5px;
	-moz-border-radius: 5px;
    -webkit-border-radius: 5px;
	/* Sombra */
	-moz-box-shadow: 2px 2px 10px #a4a4a4;
	-webkit-box-shadow: 2px 2px 10px #a4a4a4;
	box-shadow: 2px 2px 10px #a4a4a4;
	
}

p.formularesaltada {
	padding: 5px;
	display: block;
	margin: 10px auto 10px auto;
	background:#FFF;
	/* esquinas redondeadas */
	border-radius:5px;
	-moz-border-radius: 5px;
    -webkit-border-radius: 5px;
	/* Sombra */
	-moz-box-shadow: 2px 2px 10px #a4a4a4;
	-webkit-box-shadow: 2px 2px 10px #a4a4a4;
	box-shadow: 2px 2px 10px #a4a4a4;
	
}

img.ilustracion {
	padding: 0 0 10px 0;
	float: none;
	display:block;
	margin: 0 auto 0 auto;
}

.armacontenido {
	clear:both;
	float:left;
	width:100%;
	background-color: #e6f5fb;
	border-radius:8px;
	-moz-border-radius: 8px;
    -webkit-border-radius: 8px;
	display:block;
	padding: 10px;
	margin-bottom:20px;
	-moz-box-shadow: 2px 2px 10px #69818b;
	-webkit-box-shadow: 2px 2px 10px #69818b;
	box-shadow: 2px 2px 8px #69818b;
	
	}
.contemod1 {
	background-color: #fbecde;
	}
.contemod2 {
	background-color: #e2eed2;
	}
.contemod3 {
	background-color: #fff2d5;
	}
.contemod4 {
	background-color: #ebdee9;
	}
.conteglo,.contegui {
	background-color: #d5e0e9;
	}
	
	
.jfontsize-button {
    font: bold 12px arial;
    padding: 3px;
    border: solid 1px #ccc;
}
 
.jfontsize-button:hover {
    text-decoration: none;
    background: #333;
    color: #fff;
    border: solid 1px #333;
}
 
.jfontsize-disabled, .jfontsize-disabled:hover {
    color: #aaa;
    border: solid 1px #eee;
    background: #eee;
}

.cambiatexto {
	display:none;
	float:right;
}
.cambiatexto a, .cambiatexto a:link, .cambiatexto a:visited {
	color: #6e7066;
	background: #f2f3ee;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
	border: 2px solid #6e7066;
	opacity: 0.5;
	padding: 5px;
	margin: 2px;
	font-weight:bold;
	text-decoration:none;
	font-size: 0.7em;
}

.cambiatexto a:hover {
	opacity: 1;
}

	
/* Menu Adicional */	
#menu_adicional {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#menu_adicional ul {
	padding:0;
}
#menu_adicional li {
	margin: 7px 0 7px 0;
	list-style:none;	
}
#menu_adicional li a {
	background-color:#00417a;
	opacity: 0.5;
	border:#00417a solid 2px ;
	border-radius:10px;
	-moz-border-radius: 10px;
    -webkit-border-radius: 10px;
	
	padding: 10px;
	color:#ecf2f6;
	text-decoration:none;
	display:block;
}
#menu_adicional li a:hover {
	opacity: 0.8;
}

/* TITULO */
#titulo {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#titulo a {
	display:block;
	width:100%;
	height:100%;
	
}
/* MENU EXTRAS */
#menu_extras {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#menu_extras ul {
	padding:0;
}
#menu_extras li {
	margin: 7px 0 7px 0;;
	list-style:none;	
}
#menu_extras li a {
	background-color:#00417a;
	opacity: 0.5;
	border:#00417a solid 2px ;
	border-radius:10px;
	-moz-border-radius: 10px;
    -webkit-border-radius: 10px;
	
	padding: 10px;
	color:#ecf2f6;
	text-decoration:none;
	display:block;
}
#menu_extras li a:hover {
	opacity: 0.8;
}


/*   TITULO   */
#titulo {
	clear: both;
	float: left;
	width: 489px;
	height: 78px;
	display: block;
	margin: 10px 0 0 -10px;
	padding-left: -20px;
	
	background: url(../img/titulo_c.jpg) no-repeat;
}
#titulo h1 {
	display: none !important; 
	visibility: hidden;
}

#contenido {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}

/* Contenidos de la ayuda personalizados por media queries */
#ayuda1 {
	display: block;
	width: 100%;
	margin: auto;
	max-width: 365px !important;
	height: 572px;
	background:url(../img/ayuda/ayu1_1.jpg) no-repeat;
	background-size: 100%;
}

#ayuda2 {
	display: block;
	width: 100%;
	margin: auto;
	max-width: 365px !important;
	height: 1198px;
	background:url(../img/ayuda/ayu1_2.jpg) no-repeat;
	background-size: 100%;
}
#ayuda3 {
	display: block;
	width: 100%;
	margin: auto;
	max-width: 365px !important;
	height: 1864px;
	background:url(../img/ayuda/ayu1_3.jpg) no-repeat;
	background-size: 100%;
}


/* Tablet Layout: 481px to 768px. Inherits styles from: Mobile Layout. */

@media only screen and (min-width: 481px) {

body{
	background:url(../img/fondo_nubes770.jpg);
	background-attachment:fixed;
	background-position:center;
	}

.gridContainer {
	width: 95%;
	padding-left: 0;
	padding-right: 0;
	margin: 0;
}

/*   MENU ADICIONAL   */
#menu_adicional {
	clear: both;
	margin-left: 80%;
	width: 20%;
	display: block;
	position:absolute;
} 
#menu_adicional ul {
	margin:30px 0 0 0px;
	padding:0;
	display:block;
}
#menu_adicional li{
	margin:0;
	padding:0;
	list-style:none;
}

#menu_adicional li a {
	background-color: transparent;
	opacity: 1;
	border: none;
	border-radius:0;
	-moz-border-radius: 0;
    -webkit-border-radius: 0;
	padding: 0;
	color:#000;
}

#menu_adicional ul li .creditos_btn {
	background:url(../img/creditos_b.png) -80px 0;
	display: block;
	float:left;
	width:78px;
	height:36px;
}
#menu_adicional ul li .creditos_btn:hover {
	background:url(../img/creditos_b.png) 0 0;
}
#menu_adicional ul li .ayuda_btn {
	background:url(../img/ayuda_b.png) -79px 0;
	display: block;
	float:left;
	width:78px;
	height:36px;
}
#menu_adicional ul li .ayuda_btn:hover {
	background:url(../img/ayuda_b.png) 0 0;
}
#menu_adicional ul li .salir_btn {
	background:url(../img/salir_b.png) -80px 0;
	display: block;
	float:left;
	width:79px;
	height:37px;
}
#menu_adicional ul li .salir_btn:hover {
	background:url(../img/salir_b.png) 0 0;
}
#menu_adicional ul li a div{
	display:none;
}
/*   TITULO   */
#titulo {
	clear: both;
	float: left;
	width: 317px;
	height: 71px;
	display: block;
	margin: 30px 0 0 0;
	
	background: url(../img/titulo_b.png) no-repeat  ;
}
#titulo h1 {
	display: none !important; 
	visibility: hidden;
}
/* MENU EXTRAS */
#menu_extras {
	clear: both;
	margin-left: 0;
	width: 124px;
	display: block;
	margin-top: 100px;
	position:absolute;
}
#menu_extras ul {
	margin: 0;
	padding:0;
	display:block;
}
#menu_extras li{
	margin:0;
	padding:0;
	list-style:none;
}
#menu_extras li a {
	background-color: transparent;
	opacity: 1;
	border: none;
	border-radius:0px;
	-moz-border-radius: 0px;
    -webkit-border-radius: 0px;
	padding: 0;
	color:#000;
}



#menu_extras ul li .glosario_btn {
	background:url(../img/glosario_b.png) 0 0;
	display: block;
	float:left;
	width:124px;
	height:41px;
}
#menu_extras ul li .glosario_btn:hover {
	background:url(../img/glosario_b.png) -124px 0;
}
#menu_extras ul li .guias_btn {
	background:url(../img/guias_b.png) 0 0;
	display: block;
	float:left;
	width:124px;
	height:41px;}
#menu_extras ul li .guias_btn:hover {
	background:url(../img/guias_b.png) -124px 0;
}
#menu_extras ul li a div{
	display:none;
}
/* MENU CON */
#menu_con {
	clear: both;
	float: left;
	margin-left: 0;
	width: 23.0769%;
	display: block;
	margin-top: 90px;
}

#menu_con ul {
	padding:0;
	width:100%;
}

#menu_con li a {
	background-color:#00417a;
	opacity: 0.5;
	border:#00417a solid 2px ;
	border-radius: 0 10px 10px 0;
	-moz-border-radius: 0 10px 10px 0;
    -webkit-border-radius: 0 10px 10px 0;
	margin: 5px;
	padding: 5px;
	
	margin-bottom: 10px;
	color:#ecf2f6;
	text-decoration:none;
	display: block;
}

#menu_con li a:hover {
	opacity: 0.8;
	}

#menu_con li a.activo {
	opacity:0.8;
}

#menu_con li {
	list-style:none;
	display: table-row-group;
	width:100%;
}
#menu_con li:nth-child(1) {
	display:table-footer-group;
}
#menu_con li:nth-child(1) a {
	margin-top: 30px;
	margin-bottom: 0;	
	
	background: #999e96;
	border-color:#999e96;
}


/* Contenido */

#contenido {
	clear: none;
	float: left;
	margin-left: 2.5641%;
	margin-top: 10px;
	width: 74.3589%;
	display: block;
}


/* Contenidos de la ayuda personalizados por media queries */
#ayuda1 {
	display: block;
	width: 100%;
	margin: auto;
	max-width: 525px !important;
	height: 445px;
	background:url(../img/ayuda/ayu2_1.jpg) no-repeat;
	background-size: 100%;
}

#ayuda2 {
	display: block;
	width: 100%;
	margin: auto;
	max-width: 525px !important;
	height: 648px;
	background:url(../img/ayuda/ayu2_2.jpg) no-repeat;
	background-size: 100%;
}
#ayuda3 {
	display: block;
	width: 100%;
	margin: auto;
	max-width: 525px !important;
	height: 1066px;
	background:url(../img/ayuda/ayu2_3.jpg) no-repeat;
	background-size: 100%;
}
}


/* Desktop Layout: 769px to a max of 1232px.  Inherits styles from: Mobile Layout and Tablet Layout. */

@media only screen and (min-width: 769px) {

body{
	background:url(../img/fondo_nubes1240.jpg);
	background-attachment:fixed;
	background-position:center;
	}

.gridContainer {
	width: 750px;
	padding-left: 0.9%;
	padding-right: 0.9%;
	margin: auto;
}

img.ilustracion {
	
	padding: 0 0 10px 10px;
	float:right;
	margin: 0;
}

/*   MENU ADICIONAL   */

#menu_adicional {
	clear: both;
	margin:30px 0 0 594px; /* 515px si estuviera habilitado salir */
	width: 235px;
	display: block;
}
#menu_adicional ul {
	margin:0;
	padding:0;
	display:block;
	
	
	}
#menu_adicional ul li{
	margin:0;
	padding:0;
	list-style:none;
	}
#menu_adicional ul li .creditos_btn {
	background:url(../img/creditos_b.png) -80px 0;
	display: block;
	float:left;
	width:78px;
	height:36px;
}
#menu_adicional ul li .creditos_btn:hover {
	background:url(../img/creditos_b.png) 0 0;
}


#menu_adicional ul li .ayuda_btn {
	background:url(../img/ayuda_b.png) -79px 0;
	display: block;
	float:left;
	width:78px;
	height:36px;}
#menu_adicional ul li .ayuda_btn:hover {
	background:url(../img/ayuda_b.png) 0 0;
}


#menu_adicional ul li .salir_btn {
	background:url(../img/salir_b.png) -80px 0;
	display: block;
	float:left;
	width:79px;
	height:37px;}
#menu_adicional ul li .salir_btn:hover {
	background:url(../img/salir_b.png) 0 0;
}
#menu_adicional ul li a div{
	display:none;
	}

/*   TITULO   */

#titulo {
	clear: both;
	float: left;
	margin-left: 0;
	width: 396px;
	height: 88px;
	display: block;
	margin: 30px 0 0 0;
	
	background: url(../img/titulo.png) no-repeat ;
}

#titulo h1 {
	display: none !important; 
	visibility: hidden;
	}


/*   MENU EXTRAS   */
#menu_extras {
	clear: both;
	margin-left: 0;
	width: 124px;
	margin-top: 118px;
	display: block;
}
#menu_extras ul {
	margin: 0;
	padding:0;
	display:block;
}
#menu_extras ul li{
	margin:0;
	padding:0;
	list-style:none;
}
#menu_extras ul li .glosario_btn {
	background:url(../img/glosario_b.png) 0 0;
	display: block;
	float:left;
	width:124px;
	height:41px;
}
#menu_extras ul li .glosario_btn:hover {
	background:url(../img/glosario_b.png) -124px 0;
}
#menu_extras ul li .guias_btn {
	background:url(../img/guias_b.png) 0 0;
	display: block;
	float:left;
	width:124px;
	height:41px;}
#menu_extras ul li .guias_btn:hover {
	background:url(../img/guias_b.png) -124px 0;
}
#menu_extras ul li a div{
	display:none;
}

/*   MENU CON   */


#menu_con {
	clear: both;
	float: left;
	margin-left: 0;
	width: 28.5714%;
	display: block;
}

#menu_con li {
	display: table-row-group;
}
#menu_con li:nth-child(1) {
	display:table-footer-group;
}
#menu_con li a {
	margin: 5px;
	padding: 7px;
	width:100%;
}

#menu_con li:nth-child(1) a {
	background:url(../img/regresar_b.png) 0 0 ;
	opacity: 1;
	width: 148px;
	height: 94px;
	padding: 0;
	margin: 0 auto 0 auto;
	
	border: none;
	border-radius: 0;
	-moz-border-radius: 0;
    -webkit-border-radius:0;
}

#menu_con li:nth-child(1) a:hover {
	background:url(../img/regresar_b.png) -148px 0 ;
}

#menu_con li a div {
	display: none !important; 
	visibility: hidden;
}


/* Contenido */

#contenido {
	clear: none;
	float: left;
	margin-left: 2.0408%;
	width: 69.3877%;
	display: block;
}

/* Contenidos de la ayuda personalizados por media queries */
#ayuda1 {
	display: block;
	width: 100%;
	margin: auto;
	max-width: 520px !important;
	height: 514px;
	background:url(../img/ayuda/ayu3_1.jpg) no-repeat;
	background-size: 100%;
}

#ayuda2 {
	display: block;
	width: 100%;
	margin: auto;
	max-width: 520px !important;
	height: 594px;
	background:url(../img/ayuda/ayu3_2.jpg) no-repeat;
	background-size: 100%;
}
#ayuda3 {
	display: block;
	width: 100%;
	margin: auto;
	max-width: 520px !important;
	height: 809px;
	background:url(../img/ayuda/ayu3_3.jpg) no-repeat;
	background-size: 100%;
}


}
@media only screen and (min-width: 1231px) {
body{
	background:url(../img/fondo_nubes.jpg);
	background-attachment:fixed;
	background-position:center;
}
.gridContainer {
	width: 1190px;
	padding-left: 0.9%;
	padding-right: 0.9%;
	margin: auto;
}

/* ICONOS */
.iconomod1 {
	width:237px;
	height:106px;
	background:url(../img/icono_modulo1.png) no-repeat;
}
.iconomod2 {
	width:431px;
	height:106px;
	background:url(../img/icono_modulo2.png) no-repeat;
}
.iconomod3 {
	width:431px;
	height:106px;
	background:url(../img/icono_modulo3.png) no-repeat;
}
.iconomod4 {
	width:431px;
	height:106px;
	background:url(../img/icono_modulo4.png) no-repeat;
}
.iconocre {
	clear:both;
	float:left;
	width:431px;
	height:106px;
	background:url(../img/icono_creditos.png) no-repeat;
}
.iconoayu {
	clear:both;
	float:left;
	width:431px;
	height:106px;
	background:url(../img/icono_ayuda.png) no-repeat;
}
.iconosal {
	clear:both;
	float:left;
	width:431px;
	height:106px;
	background:url(../img/icono_salir.png) no-repeat;
}
.iconoglo {
	clear:both;
	float:left;
	width:431px;
	height:106px;
	background:url(../img/icono_glosario.png) no-repeat;
}
.iconogui {
	clear:both;
	float:left;
	width:431px;
	height:106px;
	background:url(../img/icono_guias.png) no-repeat;
}
/*   MENU ADICIONAL   */
#menu_adicional {
	position:absolute;
	clear: both;
	width: 330px;
	margin: 30px 0 0 972px; /* 860px si estuviera habilitado salir */
	display: block;
}
#menu_adicional ul {
	margin:0;
	padding:0;
	display:block;
}
#menu_adicional ul li{
	margin:0;
	padding:0;
	list-style:none;
}
#menu_adicional ul li .creditos_btn {
	background:url(../img/creditos.png) -109px 0;
	display: block;
	float:left;
	width:109px;
	height:49px;
}
#menu_adicional ul li .creditos_btn:hover {
	background:url(../img/creditos.png) 0 0;
}
#menu_adicional ul li .ayuda_btn {
	background:url(../img/ayuda.png) -109px 0;
	display: block;
	float:left;
	width:109px;
	height:50px;}
#menu_adicional ul li .ayuda_btn:hover {
	background:url(../img/ayuda.png) 0 0;
}
#menu_adicional ul li .salir_btn {
	background:url(../img/salir.png) -110px 0;
	display: block;
	float:left;
	width:110px;
	height:51px;}
#menu_adicional ul li .salir_btn:hover {
	background:url(../img/salir.png) 0 0;
}

#menu_adicional ul li a div{
	display:none;
}
/*   TITULO   */
#titulo {
	clear: both;
	float: left;
	width: 396px;
	height: 88px;
	display: block;
	margin: 30px 0 0 0;
	
	background: url(../img/titulo.png) no-repeat ;
}
#titulo h1 {
	display: none !important; 
	visibility: hidden;
}
/*   MENU EXTRAS   */
#menu_extras {
	clear: both;
	margin-left: 0;
	width: 174px;
	display: block;
}
#menu_extras ul {
	margin: 0;
	padding:0;
	display:block;
}
#menu_extras ul li{
	margin:0;
	padding:0;
	list-style:none;
}
#menu_extras ul li .glosario_btn {
	background:url(../img/glosario.png) 0 0;
	display: block;
	float:left;
	width:174px;
	height:57px;
}
#menu_extras ul li .glosario_btn:hover {
	background:url(../img/glosario.png) -174px 0;
}
#menu_extras ul li .guias_btn {
	background:url(../img/guias.png) 0 0;
	display: block;
	float:left;
	width:174px;
	height:58px;}
#menu_extras ul li .guias_btn:hover {
	background:url(../img/guias.png) -174px 0;
}
#menu_extras ul li a div{
	display:none;
	}
/*   MENU CON   */
#menu_con {
	clear: both;
	float: left;
	margin-left: 0;
	width: 28.5714%;
	display: block;
	margin-top: 130px;
}
#menu_con li {
	display: table-row-group;
}
#menu_con li:nth-child(1) {
	display:table-footer-group;
}
#menu_con li:nth-child(1) a {
	background:url(../img/regresar.png) 0 0 ;
	opacity: 1;
	width: 211px;
	height: 134px;
	padding: 0;
	margin: 0 auto 0 auto;
	
	border: none;
	border-radius:0;
	-moz-border-radius: 0;
    -webkit-border-radius:0;
}

#menu_con li:nth-child(1) a:hover {
	background:url(../img/regresar.png) -211px 0 ;
}

#menu_con li a div {
	display: none !important; 
	visibility: hidden;
}

#menu_con li a {
	margin: 5px;
	padding: 7px;
}


/* Contenido */
#contenido {
	clear: none;
	float: left;
	margin-left: 2.0408%;
	width: 69.3877%;
	display: block;
}

/* Contenidos de la ayuda personalizados por media queries */
#ayuda1 {
	display: block;
	width: 100%;
	margin: auto;
	max-width: 825px !important;
	height: 536px;
	background:url(../img/ayuda/ayu4_1.jpg) no-repeat;
	background-size: 100%;
}

#ayuda2 {
	display: block;
	width: 100%;
	margin: auto;
	max-width: 825px !important;
	height: 606px;
	background:url(../img/ayuda/ayu4_2.jpg) no-repeat;
	background-size: 100%;
}
#ayuda3 {
	display: block;
	width: 100%;
	margin: auto;
	max-width: 825px !important;
	height: 690px;
	background:url(../img/ayuda/ayu4_3.jpg) no-repeat;
	background-size: 100%;
}

}
